body {
	margin: 0px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-family: 'Merriweather', serif;
	color: #40514E;
}

p {
	font-size: 1rem;
	line-height: 2;
}

h1 {
	font-size: 5.625rem;
	margin-top: 0;
	font-family: 'Sacramento', cursive;
	color: #66BFBF;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	margin: 0;
	color: #66BFBF;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
	font-size: 1.8rem;
}

.top-container {
	position: relative;
	padding-top: 100px;
	background-color: #e4f9f5;
}

.middle-container {
	margin: 0;
	padding: 0;
}

.profile {
	width: 30%;
	margin: 0 auto 0 auto;
	padding: 100px 0 50px 0;
}

.bottom-container {
	margin: 100px auto 0 auto;
	background-color: #66bfbf;
	padding: 50px 0 20px 0;
}

.pro {
	text-decoration: underline;
}

.skills {
	padding-top: 80px;
	padding-bottom: 80px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}

.top-cloud {
	position: absolute;
	right: 350px;
	top: 50px;
}

.mountain {
	position: relative;
	bottom: -4px;
	padding-top: 50px;
}

.skill-row-design, .skill-row-dev{
	line-height: 2;
	text-align: left;
	vertical-align: middle;
	width: 50%;
	margin: 0 auto 0 auto;
}

.skill-row-design {
	padding-bottom: 34px;
	margin-bottom: 50px;
}

.skill-row-dev {
	padding-bottom: 30px;
}

.web-design-img {
	width: 25%;
	float: left;
	padding-right: 30px;
}

.web-dev-img {
	width: 25%;
	float: right;
	padding-left: 30px;
}

hr {
	background-color: white;
	border-style: dotted none none none;
	border-color: #c1dfe5;
	border-width: 5px;
	width: 5%;
	clear: right;
}

.contact-me {
	padding-top: 80px;
	line-height: 2;
	margin: 0 auto 0 auto;
}

.para {
	width: 30%;
	margin: auto;
	margin-bottom: 60px;
	margin-top: 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
	color: #11999e;
	margin: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
	color: #EAF6F6;
}

.copyright {
	margin-bottom: 0; 
	color: #EAF6F6; 
	font-size: 0.75rem; 
	padding: 20px 0;
}
